body {
    background-color: grey; /* Body Hintergrundfarbe */
    font-family: Arial, Helvetica, sans-serif; /* Schriftart für gesamten Body */
}

h1, h2, h3, h4, h5, h6 {
    color: red; /* Farbe der h-Tags */
    text-align: center; /* Zentriert h-Tags */
    
}

p {
    color: white; /* Farbe der p-Tags */
    text-align: center; /* Zentriert alle p-Tags */
}

a {
    color: blue; /* Farbe für den Link */
    text-align: center; /* Zentriert den Link */
    display: block; /* Macht den Link zu einem Block-Element, damit text-align wirkt */
    margin: 1px 0; /* Fügt Abstand oben und unten hinzu */
    font-weight: bold; /*Alle a-Tags werden fett geschrieben*/
}

img {
    display: block; /* Macht das Bild zu einem Block-Element */
    margin: 0 auto; /* Zentriert das Bild */
    width: 400px; /* Feste Breite für das Bild */
    height: 200px; /* Feste Höhe für das Bild */
}

button {
    display: block;
    margin: 0 auto;
    background-color: darkgrey;
    
}

button:hover {
    background-color: yellow;
}

button:active {
    color: red;
}
