/* Formatierung von tab_6-html */
table {
    text-align: center;
    border: 10px rgb(0, 43, 68) solid;
    background-color: rgb(0, 43, 68);
    width: 100%;
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    border: 0px rgb(0, 43, 68) solid;
    color: rgb(0, 43, 68);
    background-color: rgb(138, 202, 255);
    height: 40px;
}

td {
    color: black;
    background-color: rgb(138, 202, 255);
    border: 1px rgb(138, 202, 255) solid;
    height: 40px;
}

.mark {
    color: rgb(138, 202, 255);
    background-color: rgb(0, 43, 68);
}
