.tiere {
    list-style-type: circle;
}

.computer {
    list-style-type: lower-alpha;
}

.mahlzeit1 {
    list-style-type: circle;
}

.mahlzeit2 {
    list-style-type: square;
}

.restaurant {
    list-style-type: circle;
}

.reiseziele {
    list-style-type: square;
}
