/* Formatierung von tab_5-html */
table {
    width: 70%;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    text-align: center;
    color: white;
    background-color: black;
}

td {
    color: black;
    border: 1.5px white solid;
}

.mark1 {
    background-color: grey;
}

.mark2 {
    background-color: lightgrey;
}