/* normalisierung */
/* im Web suchen nach normalisierung.css --> zurücksetzen der Standardformatierung*/

/* Universalselektor*/
/*
*{
    margin: 0px;
    padding: 0px;
}
*/


html, body{
    height: 99%;
  }
  
  body{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  #wrapper{
      height: 50%;
      width: 50%;
      /*height: 95vh;*/
      border: 2px solid red;
      display: flex;
      flex-direction: column;
      background-color: gray;
      position: absolute;
  }
  
  #reihe2, #reihe4{
      display: flex;
      /* nicht notwenig, da Standard row */
      flex-direction: row;
  
  }
  
  #reihe1{
      flex: 0.5;
  }
  
  #div10{
      flex: 2;
  }
  
  div, footer, header{
      border: 1px solid black;
      margin: 5px;
      padding: 5px;
      flex: 1;
  }
  
  
  /* ---------------------------------- */
  
  header{
      flex: 0.5;
  }
  
  footer{
      display: flex;
      /* nicht notwenig, da Standard row */
      flex-direction: row;
  
  }