header{
    grid-area: header;
    background-color: aqua;
}

nav{
    grid-area: navigation;
    background-color: darkcyan;
}

article{
    grid-area: inhalt;
    background-color: bisque;
}

aside{
    grid-area: randnotiz;
    background-color: brown;
}

footer{
    grid-area: footer;
    background-color: gray;
}

#meinArtikel{
    display: flex;
}

#bild{
    flex: 1;
}
#text{
    flex: 4;
}
img{
    width: 100%;
}

/* bei "schmalem Fenster */
#wrapper{
    height: 100vh;
    display: grid;
    /* header, nav, article, aside, footer */
    grid-template-rows: 75px 50px 3fr 1fr 50px;
    grid-template-areas: 
    "header"
    "navigation"
    "inhalt"
    "randnotiz"
    "footer" ;
}

nav ul li{
    display: inline;
}

nav ul li a{
    text-decoration: none;
}

nav ul li a:hover{
    background-color: azure;
}

/* media queries */
/* https://wiki.selfhtml.org/wiki/CSS/Media_Queries*/
@media screen and (min-width: 800px){

        #wrapper{
            grid-template-rows: 75px 1fr 50px;
            grid-template-columns: 25% 50% 25%;
            grid-template-areas: 
            "header header header"
            "navigation inhalt randnotiz "
            "footer footer footer";
        }

        nav ul li{
            display: block;
        }

}

@media print{
    header, nav, article, aside, footer{
        background-color: white;
    }

    #wrapper{
        grid-template-rows: auto auto auto;
        grid-template-columns: 100%;
        grid-template-areas: 
        "header"
        "inhalt"
        "randnotiz";
    }
}